<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="trueDialog" type="TrueDialog.Configuration.TrueDialogConfigSection, TrueDialog.Client" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <trueDialog baseUrl="https://staging-api.truedialog.com/api/main/">
    <!-- TODO: Fill in with your login information. -->
    <auth username="Integraton_User_1" password="Pivot123!" defaultAccountId="43510" apiKey="022ff62714384e3693e709da772f8470" apiSecret="T!b8aW7}_3zE" />
    <!-- Try up to 3 times once every 1 second-->
    <retryPolicy
        type="TrueDialog.Retry.Strategy.FixedRetryStrategy"
        maxTries="3"
        interval="0:0:1" />

    <!-- Try up to 4 times retring after: .5, 1, 1.5 seconds. -->
    <!--
        <retryPolicy
            type="ThreeSeventy.Vector.Client.IncrementalRetryStrategy"
            maxTries="4"
            interval="0:0:0.5" />
        -->

    <!-- Try up to 5 times retring after: .5, 1, 2, 4 seconds -->
    <!--
        <retryPolicy
            type="ThreeSeventy.Vector.Client.ExponentialRetryStrategy"
            maxTries="5"
            interval="0:0:0.5" />
        -->
  </trueDialog>
</configuration>