<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trueDialog" type="TrueDialog.Configuration.TrueDialogConfigSection, TrueDialog.Client.Standard"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <trueDialog baseUrl="https://api.truedialog.com/api/v2.1/">
    <!-- TODO: Fill in with your login information. -->
    <auth username="" password="" defaultAccountId="" apiKey="" apiSecret=""/>
  </trueDialog>
</configuration>
