<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="trueDialog" type="TrueDialog.Configuration.TrueDialogConfigSection, TrueDialog.Client.Standard"/>
  </configSections>
  <trueDialog>
    <!-- TODO: Fill in with your login information. -->
    <auth username="Integraton_User_1" password="Pivot123!123"/>
  </trueDialog>
</configuration>
